.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--accent-blue);
    text-decoration: none;
}
.teacher-email {
    color: var(--secondary-text-dark);
    margin-top: -10px;
    margin-bottom: 30px;
}
.list-container ul {
    list-style: none;
    padding: 0;
}
.list-container li {
    background-color: var(--background-light);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
}