/* C:\Users\MAHIR\Projects\sms\client\src\pages\TeacherProfilePage.css */

.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--accent-blue);
    text-decoration: none;
}
.teacher-email {
    color: var(--secondary-text);
    margin-top: -10px;
    margin-bottom: 30px;
}
.profile-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.profile-details-grid ul {
    list-style: none;
    padding: 0;
}
.profile-details-grid li {
    background-color: var(--background-dark);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.profile-details-grid select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--background-dark);
    color: var(--primary-text);
}